html,
body {
  padding: 0;
  margin: 0;
  font-family: 'Lato', sans-serif;
}
@font-face{
  font-family: 'Lato', sans-serif;
  src:url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,300;0,400;0,700;0,900;1,400&display=swap');
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}
p,h1,h2,h3,h4,h5{
  margin: 0;
  padding: 0;
}
.hr {
  background: #EDEDED;
  width: 100%;
  height: 1px;
  margin: 1rem 0;
}
.Button {
  display: inline-flex;
  padding: 11px 17px;
  justify-content: center;
  align-items: center;
  gap: 10px;
  border-radius: 4px;
  background: var(--Orange-gradient, linear-gradient(180deg, #FF8F16 0%, #EB5C09 100%));
  color: var(--White, #FFF);
  text-align: center;
  
  font-size: 12px;
  font-style: normal;
  font-weight: 500;
  line-height: 140%;
  border: none;
  cursor: pointer;
}
.modalWrapper {
  position: absolute;
  z-index: 999999;
  top: 0;
  height: 100vh;
  width: 100vw;
  background: var(--text-color-90, #3333335f);
  display: flex;
  justify-content: flex-end;
}
@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
  body {
    color: white;
    background: black;
  }
}

:root {
  /* fontsizes */
  --text-xxxlarge: 48px;
  --text-xxlarge: 45px;
  --text-xlarge: 28px;
  --text-large: 24px;
  --text-medium: 20px;
  --text-small: 18px;
  --text-xsmall: 16px;
  --text-xxsmall: 14px;
  /* colors */
  --background: #d8d8d8;
  --lightgray-background: #f3f3f3;
  --secondary: #fff;
  --background-ed: #ededed;
  --blue: linear-gradient(#1081E8 0%, #1081E8 100%);
  --orange-gradient: linear-gradient(180deg, #FF8F16 0%, #EB5C09 100%);
  --dark-black: #222;
  --dark-black2: #333;
  --light-black1: #666;
  --light-black2: #999;
  --line-color: #cdcdcd;
  --error: #e14444;
  --light-error: #FF8F8F;
  --success: #27CD50;
  --light-success: #77F296;
  --disabled: linear-gradient(#FFC688 0%, #FFA672 100%);
}